html {
  margin:0px;
  padding:0px
}
body {
  margin:0px;
  padding:0px
  font-family: Arial;
}
table.facet {
  border-left: 1px solid black;
  border-top: 1px solid black;
  text-align: center;
  margin: 10px;
  width: 90%;
}
table.facet td {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
table.facet th {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
tr.facettitle {
  background-color: silver;
}  