<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">
	
	<display-name>lab01</display-name>
	<description>Vector Images</description>
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/lab01-data.xml</param-value>
	</context-param>
	
	<filter>
		<filter-name>XSLTFilter</filter-name>
		<filter-class>lv.webkursi.klucis.web.XSLTFilter</filter-class>
	</filter>
	
	<!--
	<filter-mapping>
		<filter-name>XSLTFilter</filter-name>
		<url-pattern>/klucis/img/html/*</url-pattern>
	</filter-mapping>
		-->
	
	<filter-mapping>
		<filter-name>XSLTFilter</filter-name>
		<url-pattern>/klucis/main/html/*</url-pattern>
	</filter-mapping>
	
	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>TempServlet</servlet-name>
		<servlet-class>lv.webkursi.klucis.temp.TempServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>klucis</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>control</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>TempServlet</servlet-name>
		<url-pattern>/servlet/TempServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>klucis</servlet-name>
		<url-pattern>/klucis/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>control</servlet-name>
		<url-pattern>/ctrl/*</url-pattern>
	</servlet-mapping>
	
</web-app>