#set($_pageset = $_renderContext.request.servletPath)
<span style="font-family: Arial; font-size: 10pt">
$_linkHelper.getCrossActionLink( ["Amos", "Login Amos", "login.do"] ) &nbsp;&nbsp;
$_linkHelper.getCrossActionLink( ["Ezekiel", "Login Ezekiel", "login.do"] ) &nbsp;&nbsp;
<a href="login.do">Logout</a><br /> 
#if ($_currentUser)
${_currentUser.userName} is logged in
#else
Nobody is logged in
#end
</span>