#if($_rotate)
<g transform="rotate(${_rotate},0,0)">
#end
#if($_scaleX)
<g transform="scale(-1,1)">
#end

##render($_content)
$_renderContext.render($_content)
#if($_scaleX)
</g>
#end

#if($_rotate)
</g>
#end
