<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
	
	<bean id="velocityConfig"
		class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
		<property name="resourceLoaderPath">
			<value>/WEB-INF/templates/velocity/</value>
		</property>
		<property name="velocityProperties">
			<props>
				<prop key="input.encoding">UTF-8</prop>
				<prop key="output.encoding">UTF-8</prop>
			</props>
		</property>
	</bean>
	
	<bean id="converter" class="lv.webkursi.web2007a.lab01.MainConverter">
		<property name="model" ref="model"/>
		<property name="componentManager" ref="componentManager"/>
	</bean>
	
	<bean id="model" class="lv.webkursi.web2007a.lab01.FileModelFactory">
		<property name="path">
			<value>/src/main/resources/</value>
		</property>
		<property name="fileName">
			<value>description.n3</value>
		</property>
	</bean>
	
	<bean id="componentManager" class="lv.webkursi.web2007a.lab01.ComponentManager">
		<property name="factoryCatalog" ref="factoryCatalog"/>
	</bean>
	
	<bean id="factoryCatalog" class="lv.webkursi.web2007a.lab01.FactoryCatalog">
		<property name="catalog">
			<map>
				<entry
					key="http://www.mtest.lv/schema/20061008/blocks#TopComponent">
					<bean
						class="lv.webkursi.web2007a.lab01.blocks.TopComponentFactory"/>
				</entry>
				<entry
					key="http://www.mtest.lv/schema/20061008/blocks#HorizontalRow">
					<bean
						class="lv.webkursi.web2007a.lab01.blocks.HorizontalRowFactory"/>
				</entry>
				<entry
					key="http://www.mtest.lv/schema/20061008/blocks#SquareBox">
					<bean
						class="lv.webkursi.web2007a.lab01.blocks.SquareBoxFactory"/>
				</entry>
				<entry
					key="http://www.mtest.lv/schema/20061008/blocks#Transform">
					<bean
						class="lv.webkursi.web2007a.lab01.blocks.TransformFactory"/>
				</entry>
				<entry
					key="http://www.mtest.lv/schema/20061008/blocks#Polygon">
					<bean
						class="lv.webkursi.web2007a.lab01.blocks.PolygonFactory"/>
				</entry>
			</map>
		</property>
	</bean>
	
</beans>
