#set($_size1 = $_size + 20)
#set($_halfsize = $_size/2)
<g transform="translate(${_offset}, 0)
#if($_rotate)
rotate($_rotate,$_halfsize,$_halfsize)
#end
">
<rect x="0" y="0" width="${_size}" height="${_size}"
      style="fill: #ffffff; stroke: black;"/>
$_content.render()    
</g>
<g transform="translate(${_offset}, 0)">
#if($_label)
<text x="${_halfsize}" y="${_size1}" 
style="font-size: 14pt; text-anchor: middle; stroke: red; fill:red; ">${_label}</text>
#end
</g>
