#set($_halfsize = $_size/2)

#if($_rotate)
<g transform="rotate(${_rotate},${_halfsize},${_halfsize})">
#end
#if($_scaleX)
<g transform="translate(50 0) scale(-1,1)">
#end

$_content.render()

#if($_scaleX)
</g>
#end

#if($_rotate)
</g>
#end
