<u>$message</u><br />
## paint all the subviews (in this context they are facets)
#foreach ( $_mvNode in $_subNodes )
#if ($_mvNode) 
$_renderContext.render($_mvNode)
#end
#end

<p>$_linkHelper.getActionLink( ["incDecUpperBoundFacet", "add facet"] )