<table class="facet" cellspacing="0">
<tr class="facettitle"><th>${facet.title}</th></tr>
<tr><td>
<input type="text" readonly="true" value="${state}"/><br />
$_linkHelper.getActionLink( ["inc", "inc"] ) &nbsp;&nbsp;
$_linkHelper.getActionLink( ["dec", "dec"] )
</td></tr>
</table>