<html>
<head> 
<title></title> 
<meta http-equiv="refresh" content="0;URL=/portalTest${_pageset}"/>
</head>
<body>
#if ($_currentUser) 
<p>Welcome, ${_currentUser.userName}</p>
#end

<p>If the browser does not redirect you automatically, please press <a href="/portalTest${_pageset}">here</a>.</p>
</body>
</html>
