<html>
  <head>
    <title>Component test</title>
  </head>
  
  <body>
    <p>$c1.getName() = $c1.getState() </p>
    <p>$c1.getName() = $c2.getState() </p>
    <p>$c1.getLink()</p>
  </body>
</html>