<html>
<head>
<title>${title}</title>
<link rel="StyleSheet" href="style/default.css" type="text/css"/>
</head>
<table style="margin:0px" border="1" cellspacing="5" width="100%" height="100%">
<col width="20%" />
<col width="80%" />
<tr style="vertical-align:top">
<td colspan="2">
$_renderContext.render($top)
</td>
</tr>
<tr style="vertical-align:top;height:95%">
<td>
$_renderContext.render($fb)
</td>
<td>
$_renderContext.render($results)
</td>
</tr>
</table>
</body>
</html>
