<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="/eduDemo/stylesheets/style.css" type="text/css"  />
<script src="javascripts/prototype.js?1143581442" type="text/javascript"></script>
<title>${title}</title>
</head>
<body>

$_renderContext.render($logo)
 
$_renderContext.render($navigation)

<div class="main">
<h1>${title}</h1>
<div class="box_green">
<div class="box_green_t"><div></div></div>
$_renderContext.render($new_content)
<div class="box_green_b"><div></div></div>
</div><!--box_green-->
</div><!--main-->

$_renderContext.render($footer)

</body>
</html>