<table class="${_class} facet" id="${_id}" cellspacing="0">
<tr class="facettitle"><th>${_title}</th></tr>
<tr><td>
<input type="text" readonly="true" value="${_state}"/><br />
$_linkHelper.getCrossActionLink( ["inc", "inc", "fixed.do"] ) &nbsp;&nbsp;
$_linkHelper.getCrossActionLink( ["dec", "dec", "fixed.do"] )
</td></tr>
</table>