<div class="${_class}" id="${_id}">
<form action="/portalTest/login.do" method="POST">
userName: <input type="text" name="userName"/>
<br />
password: <input type="password" name="password"/>
<br />
<input name="submit" type="submit" value="Login"/>
</form>
<p><a href="/portalTest/logout.do">Logout</a></p>
</div>
